@page "/markers"

@inject IJSRuntime JsRuntime
@inject IMarkerFactory MarkerFactory
@inject IIconFactory IconFactory

<div class="top-container">
    <h1 class="page-header">Markers</h1>
</div>

<div class="map-wrapper">
    <Map @ref="mapRef" MapOptions="@mapOptions"></Map>
</div>

<div class="side-panel">
    <h3 class="header">Functionalities</h3>
    <SidePanelButton Label="add markers"
                     IconSrc="@Icons.MarkersAddMarkersIconSrc"
                     OnClick="async () => await AddMarkers()" />
    <SidePanelButton Label="remove markers"
                     IconSrc="@Icons.MarkersRemoveMarkersIconSrc"
                     OnClick="async () => await RemoveMarkers()" />
    <SidePanelButton Label="add marker with options"
                     IconSrc="@Icons.MarkersAddMarkersWithOptionsIconSrc"
                     OnClick="async () => await AddMarkerWithOptions()" />
    <SidePanelButton Label="remove marker with options"
                     IconSrc="@Icons.MarkersRemoveMarkersWithOptionsIconSrc"
                     OnClick="async () => await RemoveMarkerWithOptions()" />
</div>


<style>
    .side-panel {
        min-width: 400px;
        display: grid;
        grid-template-rows: minmax(3rem, 5rem) repeat(2, 150px);
        grid-template-columns: repeat(3, 1fr);
    }

        .side-panel .header {
            grid-column: 1/-1;
        }

        .side-panel .icon-wrapper .icon {
            height: auto;
        }
</style>

@code {
    private static readonly LatLng center = new LatLng(50.279133, 18.685578);
    private static readonly LatLng firstMarkerLatLng = new LatLng(50.284324, 18.664683);
    private static readonly LatLng secondMarkerLatLng = new LatLng(50.285495, 18.691064);
    private static readonly LatLng thirdMarkerLatLng = new LatLng(50.279103, 18.685534);
    private static readonly LatLng markerWithOptionsLatLng = new LatLng(50.273103, 18.684534);

    private Map mapRef;

    private Marker markerWithOptions;
    private Marker marker1;
    private Marker marker2;
    private Marker marker3;

    private MapOptions mapOptions = new MapOptions()
    {
        DivId = "mapId",
        Center = center,
        Zoom = 13,
        UrlTileLayer = "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
        SubOptions = new MapSubOptions()
        {
            Attribution = "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
            MaxZoom = 18,
            Id = "mapbox/streets-v11",
            TileSize = 512,
            ZoomOffset = -1,
            AccessToken = "pk.eyJ1Ijoia2luZ2FmaXMiLCJhIjoiY2tmZ3Zia2hpMHNtNzJyb3VlbWQweWJsdSJ9.5SH3Hdaoi6cnlxZ5SfUL5w"
        }
    };

    private async Task AddMarkers()
    {
        this.marker1 = await this.MarkerFactory.CreateAndAddToMap(firstMarkerLatLng, this.mapRef);
        this.marker2 = await this.MarkerFactory.CreateAndAddToMap(secondMarkerLatLng, this.mapRef);
        this.marker3 = await this.MarkerFactory.CreateAndAddToMap(thirdMarkerLatLng, this.mapRef);
    }

    private async Task RemoveMarkers()
    {
        await this.marker1.Remove();
        await this.marker2.Remove();
        await this.marker3.Remove();
    }

    private async Task AddMarkerWithOptions()
    {
        IconOptions iconOptions = new IconOptions()
        {
            IconUrl = "http://leafletjs.com/examples/custom-icons/leaf-green.png",
            IconSize = new Point(38, 95),
            IconAnchor = new Point(22, 94),
            ShadowUrl = "http://leafletjs.com/examples/custom-icons/leaf-shadow.png",
            ShadowSize = new Point(50, 64),
            ShadowAnchor = new Point(4, 61),
            PopupAnchor = new Point(-3, -76),
        };

        MarkerOptions markerOptions = new MarkerOptions()
        {
            Opacity = 0.5,
            Draggable = true,
            IconRef = await this.IconFactory.Create(iconOptions),
        };

        this.markerWithOptions = await this.MarkerFactory.CreateAndAddToMap(markerWithOptionsLatLng, this.mapRef, markerOptions);
    }

    private async Task RemoveMarkerWithOptions()
    {
        await this.markerWithOptions.Remove();
    }
}